@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body {
    height: 120vh;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif; /**/ 
    text-rendering: optimizeLegibility; /* Para Telas modernas redenziar o conteúdo e ficar mais visível, qualidade, etc.*/
    -webkit-font-smoothing: antialiased; /*Ajuda a tirar os "Serrilhado das telas, melhora a visibilidade"*/
    color: #7cfc00;
    background-color: rgb(0, 0, 0);
}
    /* Seção de estilização do Header */
header {
    background-color: black;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #7cfc00;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s; /*Animação para os items do menu aparecer no tempo determinado*/
}

header nav ul li a:hover{
    background-color: rgba(255,255,255,0.15);
}

header .container img{
    height:50px;
}

#menuSuspenso{
    display: none;
}

    /* Seção de estilização do Main */

main{
    margin-bottom: 100px;
    background-color: rgb(0, 0, 0);
    color: #7cfc00;
}

main .container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 100px auto 0px auto; 
}   

h2 {
    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
}

h3{
    color: gold;
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0;
}

main img{
    width: 450px;
    opacity: 0.95;
    border-radius: 12px;
}

form{
    margin-top: 20px;
}

form input{
    width: 380px;
    padding: 12px;
    margin-bottom: 2px;
    font-size: 15px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255,0.1);
}

form [type="submit"]{
    background-color: #ffd700;
    color: black;
    font-weight: 700;
}

form [type="submit"]:hover{
    cursor: pointer;
    padding: 15px;
    border: 2px solid greenyellow;
}

    /* Seção de estilização dos cards */

.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 20px; /*Distancia entre um item e outro */
}

.content{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #ffd700;
    transition: all 0.3s ease 0s;   
}

.card:hover{
    transform: translateY(-8px);
}

.image{
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

.image img{
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content{
    margin-top: 20px;
    margin-bottom: 20px;
}

    /* Estilização do rodapé */
.rodape{
    max-width: 980px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid greenyellow;
    border-radius: 10px;
    background-image: url(/imagens/logoseita_fundotransparente.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 180px;
    
    /* background-image: linear-gradient(to right, black, black, black, black, black, black, black, black, red,black); */
}

.menuRodape, .referencias{
    padding: 5px;
}

.menuRodape{
    display: inherit;
    flex-direction: column;
    padding: 15px;
}

.logos{
    display: inherit;
    flex-direction: row;
    align-items: center;
}

.logos p{
    margin-left: 8px;
    font-weight: 700;
    color: white;
}

.contatos{
    display: inline-block;
    padding-top: 10px;
    margin: auto;
    text-align: center;
}

.contatos h5{
    color: cyan;
    cursor: default;
    font-weight: 700;
    padding: 5px;
}

.logos img{
    width: 30px;
}

.contatos img{
    width: 35px;
    height: 35px;
    margin: 5px;
}

.contatos > img:hover{
    background-color: rgba(200, 0, 0, 0.7);
    padding: 3px;
    transform: translateY(-3px);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.3s;
}

.referencias{
    text-align: center;
}
